@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>
    This website contains an application that i'm developing in parallel with a C# OOP Udemy Course by Nelio Alves.
    The project aimed to apply the knowledge learned in class and explore my skills with development.
</p>

<p> <strong>Student:</strong> @ViewData["Student"].</p>
<p> <strong>Professor:</strong> @ViewData["Professor"].</p>

<p>
    <strong>More information:</strong>
    john.igor@icloud.com
</p>
