@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>    
    São Paulo, SP 05729-090<br />
    <abbr title="Phone">P:</abbr>
    +55 (11) 95636-3405
</address>

<address>
    <strong>Support:</strong> <a href="mailto:john.igor@icloud.com">@ViewData["Email"]</a><br />
    <strong>Marketing:</strong> <a href="mailto:john.igor@icloud.com">@ViewData["Email"]</a>
</address>
